# 360 HF VaR

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
from scipy.stats import norm

In [86]:
HF_tickers = ["VTHR", "VAW", "VCR", "VDE", "VFH", "VIS", "VNQ", "VGT", "VDC", "VHT", "ACLS", "GPK",  "CMCSA",  "CSCO",  "CRM",  "MKTX",  "OSK",  "HON",  "AMKR",  "KEYS",  "LMT",  
"MP",  "MSFT",  "QRVO",  "PM",  "SAN",  "SLB",  "TMUS",  "TJX",  "REGN",  "GEN",  
"HSY",  "AWK",  "TXT",  "KO",  "FIX",  "V",  "HWM",  "EOG",  "MTH",  "LULU",  
"SYK",  "ABT",  "EHC"]

data = yf.download(HF_tickers, start = "2008-01-01", end = "2024-11-06")['Adj Close']
data.tail()

[*********************100%%**********************]  44 of 44 completed

,ABT,ACLS,AMKR,AWK,CMCSA,CRM,CSCO,EHC,EOG,FIX,...,VAW,VCR,VDC,VDE,VFH,VGT,VHT,VIS,VNQ,VTHR
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-30,114.449997,90.150002,26.730000,135.690002,42.240002,296.399994,55.590000,101.339996,120.519997,390.149994,...,208.860001,338.390015,212.570007,123.029999,114.879997,602.320007,272.369995,260.769989,95.769997,256.799988
2024-10-31,113.370003,85.309998,25.450001,138.110001,43.669998,291.369995,54.770000,99.459999,121.959999,391.040009,...,205.800003,333.089996,212.050003,123.639999,113.230003,582.299988,269.679993,257.510010,94.150002,252.270004
2024-11-01,118.599998,86.089996,26.000000,136.000000,43.560001,294.720001,55.500000,98.910004,120.839996,392.309998,...,205.759995,338.540009,212.419998,122.720001,113.190002,586.469971,271.720001,258.390015,93.110001,253.080002
2024-11-04,117.650002,85.160004,26.020000,135.300003,42.529999,298.010010,55.830002,100.230003,122.930000,390.380005,...,206.419998,337.809998,213.139999,124.949997,112.580002,585.900024,270.309998,258.369995,94.129997,252.550003
2024-11-05,117.730003,85.489998,26.330000,137.110001,42.560001,297.489990,56.160000,101.339996,122.110001,410.989990,...,207.720001,343.839996,214.899994,125.820000,113.860001,594.390015,272.600006,262.910004,95.379997,255.800003

In [92]:
returns = data.pct_change().dropna()

In [93]:
port_val = float(input('Enter Current Portfolio Value'))

Enter Current Portfolio Value 1865928

In [94]:
#weights
weights = [
    0.01873119, 0.01116618, 0.02892258, 0.01805429, 0.02898665,
       0.04415935, 0.02650381, 0.02006567, 0.01998417, 0.02571044,
       0.02111754, 0.03950623, 0.01749903, 0.01412339, 0.0187947 ,
       0.02832901, 0.01767772, 0.02892212, 0.01449901, 0.02324676,
       0.02144879, 0.01819821, 0.01544409, 0.03718504, 0.02212205,
       0.01107391, 0.01352855, 0.0169047 , 0.01411563, 0.01834651,
       0.04082442, 0.02703733, 0.01511657, 0.04563801, 0.00992254,
       0.        , 0.02252079, 0.        , 0.01153189, 0.04172383,
       0.        , 0.00029331, 0.        , 0.12688693
]
np_weights = np.array(weights)

In [95]:
#portfolio parameters
confidence_level = 0.95
portfolio_value = port_val

In [96]:
portfolio_mean = np.dot(weights, returns.mean())
portfolio_variance = np.dot(np_weights.T, np.dot(returns.cov(), np_weights))
portfolio_std = np.sqrt(portfolio_variance)

In [97]:
#z-score
z_score = norm.ppf(1 - confidence_level)

In [98]:
VaR = portfolio_value * z_score * portfolio_std

print(f"Value at Risk (VaR) at {confidence_level * 100}% confidence: ${VaR:.2f}")

Value at Risk (VaR) at 95.0% confidence: $-32783.10

1. There’s a 95% chance that the portfolio will not lose more than $27,466.89 over the specified period (for example, one day or one week).
2. There’s a 5% chance that the portfolio will lose more than this amount.