# 360 HF VaR

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
from scipy.stats import norm

In [17]:
HF_tickers = ["ACLS", "GPK",  "CMCSA",  "CSCO",  "CRM",  "MKTX",  "OSK",  "HON",  "AMKR",  "KEYS",  "LMT",  
"MP",  "MSFT",  "QRVO",  "PM",  "SAN",  "SLB",  "TMUS",  "TJX",  "REGN",  "GEN",  
"HSY",  "AWK",  "TXT",  "KO",  "FIX",  "V",  "HWM",  "EOG",  "MTH",  "LULU",  
"SYK",  "ABT",  "EHC"]

data = yf.download(HF_tickers, start = "2010-01-01", end = "2024-11-01")['Adj Close']
data.tail()

[*********************100%%**********************]  34 of 34 completed

,ABT,ACLS,AMKR,AWK,CMCSA,CRM,CSCO,EHC,EOG,FIX,...,PM,QRVO,REGN,SAN,SLB,SYK,TJX,TMUS,TXT,V
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-25,114.220001,89.889999,29.879999,137.660004,41.660000,290.459991,55.740002,93.459999,123.169998,370.500000,...,129.860001,99.010002,933.020020,4.807082,41.740002,352.820007,113.820000,226.360001,82.349998,281.730011
2024-10-28,114.070000,90.120003,29.530001,138.789993,41.840000,293.769989,55.279999,93.089996,122.070000,389.299988,...,130.500000,100.260002,928.609985,4.885246,41.389999,356.010010,114.169998,227.809998,83.269997,284.190002
2024-10-29,113.400002,92.089996,27.980000,135.800003,42.070000,298.890015,55.680000,100.000000,120.489998,396.149994,...,131.570007,100.480003,927.330017,4.748459,40.430000,359.010010,114.110001,226.050003,81.769997,281.880005
2024-10-30,114.449997,90.150002,26.730000,135.690002,42.240002,296.399994,55.590000,101.339996,120.519997,390.149994,...,132.110001,73.040001,922.789978,4.768000,40.150002,363.429993,112.949997,222.770004,82.059998,290.160004
2024-10-31,113.370003,85.309998,25.450001,138.110001,43.669998,291.369995,54.770000,99.459999,121.959999,391.040009,...,132.699997,71.260002,838.200012,4.860000,40.070000,356.279999,113.029999,223.160004,80.419998,289.850006

In [32]:
returns = data.pct_change().dropna()

In [33]:
port_valfloat(input('Enter Current Portfolio Value'))

Enter Current Portfolio Value 1865495.57

In [34]:
#weights
weights = [
    0.0111, 0.0394, 0.0289, 0.0265, 0.0443, 0.0236, 0.0373, 0.0175, 0.0289, 0.0284,
    0.0289, 0.0215, 0.0181, 0.0111, 0.0221, 0.0170, 0.0139, 0.0270, 0.0407, 0.0136,
    0.0211, 0.0141, 0.0180, 0.0151, 0.0177, 0.0257, 0.0458, 0.0187, 0.0199, 0.0152,
    0.0146, 0.0184, 0.0187, 0.0202
]
np_weights = np.array(weights)

In [58]:
#portfolio parameters
confidence_level = 0.95
portfolio_value = port_val

In [59]:
portfolio_mean = np.dot(weights, returns.mean())
portfolio_variance = np.dot(np_weights.T, np.dot(returns.cov(), np_weights))
portfolio_std = np.sqrt(portfolio_variance)

In [60]:
#z-score
z_score = norm.ppf(1 - confidence_level)

In [61]:
VaR = portfolio_value * z_score * portfolio_std

print(f"Value at Risk (VaR) at {confidence_level * 100}% confidence: ${VaR:.2f}")

Value at Risk (VaR) at 95.0% confidence: $-27485.84